<style>
    .task {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
</style>
<section>
    <main>
        <div class="task">
            <h1>Редактирование задания №{{task.id}}</h1>
            <p>id автора: {{task.customers_id}}</p>
            <p>id куратора: {{task.admins_id}}</p>
            <p>Дата создания: {{task.created_at}}</p>
            <p>id исполнителя:
                <input type="number" value="{{task.performers.id}}">
            </p>
            <p>Название:
                <input type="text" value="{{task.title}}">
            </p>
            <p>Описание:
                <textarea name="description" id="" cols="30" rows="10">{{task.decription}}</textarea>
            </p>
            <p>Цена:
                <input type="number" value="{{task.price}}">
            </p>
            <p>Теги (редактировать через разделитель ,[пробел]:
                <input type="text" value="{{task.tags}}">
            </p>
            <p>Тип задания: {{currentTaskType.name}}
                <select name="" id="">
                    <option value="">--Выберите тип--</option>
                    {{#each allTaskTypes}}
                        <option value="{{this.name}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </p>
            <button>Применить изменения</button>
        </div>
    </main>
    <div class="side-info">

    </div>
</section>
