<section>
    <main>
        <form method="post">
            <div class="editForm">
                <h1>Редактирование пользователя №{{user.id}}</h1>
                <div class="avatar">
                    <img src="{{user.avatar_url}}" alt="">
                </div>
                <p>Ранг: {{userRank}}</p>
                <p>Дата создания: {{user.created_at}}</p>
                <p>Дата редактирования: {{user.updated_at}}</p>
                <p>Имя:
                    <input type="text" value="{{user.name}}" name="name">
                </p>
                <p>Фамилия:
                    <input type="text" value="{{user.surname}}" name="surname">
                </p>
                <p>Опыт:
                    <input type="number" value="{{user.exp}}" name="exp">
                </p>
                <p>Электронная почта:
                    <input type="email" value="{{user.email}}" name="email">
                </p>
                <p>Пароль:
                    <input type="text" value="{{user.password}}" name="password">
                </p>
                <p>Био:
                    <textarea name="bio" id="" cols="30" rows="10">{{user.bio}}</textarea>
                </p>
                <input type="submit" value="Применить изменения">
            </div>
        </form>
    </main>
</section>
