<section>
    <main>
        <h1>{{title}}</h1>
        <input type="text" placeholder="Заголовок задания, цена">
        <div class="listContainer">
            {{#each tasks}}
                <div class="item">
                    <div class="item-body">
                        <a href="/tasks/{{this.id}}" class="item-title">{{ this.title }}</a>
                        <span class="item-info">Цена: {{this.price}} руб.</span>
                        <!-- TODO сделать сложный запрос -->
                        <span class="item-info">5 откликов</span>
                        <span class="item-info">26.05.2022</span>
                        <span class="item-info">{{this.tags}}</span>
                    </div>
                    <div class="actions">
                        <a href="/tasks/{{this.id}}/edit">Редактировать</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </main>
    <div class="side-info"></div>
</section>
